

   <!DOCTYPE html>
   <html lang="en">
   <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
   </head>
   <body>
    <div class="chatbox">
      <div id="chatbot-window" [ngClass]="{'show': showChatbot}">
        <div class="chatbot-header">
          <div class="chatbot-title">Chatbot</div>
          <div class="chatbot-close-icon" (click)="closeChatbot()">
            <i class="fas fa-times"></i>
          </div>
        </div>
        <div class="chat-messages">
          <div *ngFor="let message of messages" [ngClass]="{'message': true, 'user': message.author === 'user', 'bot': message.author === 'bot'}">
            {{ message.content }}
          </div>
        </div>
        <div class="user-input-container">
          <input type="text" [(ngModel)]="userInput" (keyup.enter)="handleUserInput()" placeholder="Type your message..." />
          <button class="send-button" (click)="handleUserInput()">
            <i class="fas fa-paper-plane"></i>
          </button>
        </div>
      </div>
    </div>
    
    <div id="chatbot-icon" *ngIf="!showChatbot" (click)="toggleChatbot()">
      <i class="fas fa-comment"></i>
    </div>

      
   </body>
  

   </html>